.addVideo{
  li{
    list-style: none;
    input{
      width: 100px;
    }
  }
}
#addCommentButton{
  width: 200px;
  height: 50px;
  background: lightcyan;
}
#addVideoButton{
  width: 500px;
  height: 50px;
  background: lightblue;
}
.addComment{
  li{
    input{
      display: inline-block;
    }
  }
}
#newVideo{
  margin-top: 20px;
}
#subs{
width: 20px;
}
#search{
input{
  display: inline;
}
}
div {
  width: auto;
  height: auto;
  background: lightgrey;
  margin-top: 5px;
  text-align: center;
  h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
  }
  img {
    width: 30px;
    height: 30px;
  }
  article {
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-top: 20px;
    ul {
      text-decoration: none;
      list-style: none;
      margin: 0px;
      border-bottom: 1px solid black;
      li {
        font-size: 20px;
        text-align: left;
        p {
          margin: 5px;
        }
        .title {
          margin-top: 50px;
        }
        .website {
          margin-bottom: 20px;
        }
      }
    }
  }
}